
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Spaces NYC</title>
    <html>
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
        <link
          href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
          rel="stylesheet"
          type="text/css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.40.1/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>

<div class="text-sm font-medium text-center text-gray-500 border-b border-gray-200 ">
<ul class="flex flex-wrap -mb-px">
    <li class="mr-2">
      <h1>City Spaces NYC</h1>
      </li>
      
    
    </li>
   
    <li class="mr-2">
      <a href="/signup" class="inline-block p-4 text-purple-600 border-b-2 border-purple-600  rounded-t-lg active ">
   Home    
      </a>
  </li>
    <li class="mr-2">
        <a href="/signup" class="inline-block p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 ">
          <i class="fa-solid fa-user"></i>  Sign Up
        </a>
    </li>
</ul>
</div>
    <h2 class="text-5xl font-bold">City Spaces NYC</h2>
    <div class="hero min-h-screen bg-primary-content">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <P>Studies have shown that volunteering can provide a healthy boost to your self-confidence, self-esteem, and life satisfaction. Volunteering gives you the opportunity to practice and develop your social skills. Reducing the risk of depression is another important benefit of volunteering. Volunteering keeps you in regular contact with others and helps you develop a solid support system. Give yourself a sense of purpose, while volunteering your time to a City Space</P>
     </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <div class="card-body">
            <div class="form-control">
              <button type="button" class="py-2 px-4 flex justify-center items-center  bg-red-600 hover:bg-red-700 focus:ring-red-500 focus:ring-offset-red-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                <svg width="20" height="20" fill="currentColor" class="mr-2" id="google" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                    <path d="M896 786h725q12 67 12 128 0 217-91 387.5t-259.5 266.5-386.5 96q-157 0-299-60.5t-245-163.5-163.5-245-60.5-299 60.5-299 163.5-245 245-163.5 299-60.5q300 0 515 201l-209 201q-123-119-306-119-129 0-238.5 65t-173.5 176.5-64 243.5 64 243.5 173.5 176.5 238.5 65q87 0 160-24t120-60 82-82 51.5-87 22.5-78h-436v-264z">
                    </path>
                </svg>
                Sign in with Google
              </button>
              <p>or</p>

              <div class="pt-8 flex border-t border-gray-200 max-w-xs mx-auto items-center justify-between">

              </div>

              <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %> <% } %> <% if (locals.messages.info) { %> <%
                messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
                <% }) %> <% } %>

                <form action="/login" method="POST">

                  <h2 class="text-3xl font-bold">Log In</h2>
                  <div class="mb-3">
                    <span class="label-text">Email Address:</span>

                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      name="email"
                    />
                  </div>
            </div>

            <div class="form-control">
              <label class="label">
                <span class="label-text">Password:</span>
              </label>
              <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
              <label class="label">
              </label>
            </div>
           
              <button type="submit" class="btn btn-success">Log In!</button>

          </div>
          <p class="demo"><a href="/signup">Register An Account</a></p>

        </div>
      </div>
    </div>

<div class="flex-wrap items-center justify-center gap-8 text-center sm:flex">
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 dark:bg-gray-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-purple-500 rounded-md">
             
            <svg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>


              <g transform="matrix(0.56 0 0 0.56 16 16)" >
              <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-22.5, -25)" d="M 25 0 C 22.800781 0 21 1.800781 21 4 L 21 4.53125 C 20.371094 4.179688 19.679688 4 19 4 C 18.0625 4 17.085938 4.308594 16.3125 4.96875 C 15.539063 5.628906 15 6.699219 15 7.9375 L 15 29.25 L 11.75 25.375 C 11.730469 25.351563 11.710938 25.332031 11.6875 25.3125 C 9.9375 23.5625 7.0625 23.5625 5.3125 25.3125 C 3.589844 27.035156 3.582031 29.839844 5.25 31.59375 L 5.3125 31.6875 L 16.8125 46.5 C 18.515625 48.699219 21.125 50 23.90625 50 L 32 50 C 36.957031 50 41 45.957031 41 41 L 41 13 C 41 10.800781 39.199219 9 37 9 C 36.265625 9 35.59375 9.214844 35 9.5625 L 35 6 C 35 3.800781 33.199219 2 31 2 C 30.167969 2 29.394531 2.246094 28.75 2.6875 C 28.203125 1.128906 26.738281 0 25 0 Z M 25 2 C 26.117188 2 27 2.882813 27 4 L 27 22 C 27.003906 22.0625 27.015625 22.125 27.03125 22.1875 C 27.046875 22.285156 27.078125 22.378906 27.125 22.46875 C 27.164063 22.558594 27.21875 22.644531 27.28125 22.71875 C 27.328125 22.765625 27.382813 22.808594 27.4375 22.84375 C 27.46875 22.867188 27.5 22.886719 27.53125 22.90625 C 27.621094 22.953125 27.714844 22.984375 27.8125 23 C 27.945313 23.027344 28.085938 23.027344 28.21875 23 C 28.320313 22.972656 28.414063 22.929688 28.5 22.875 C 28.519531 22.867188 28.542969 22.855469 28.5625 22.84375 C 28.621094 22.796875 28.671875 22.746094 28.71875 22.6875 C 28.792969 22.625 28.855469 22.550781 28.90625 22.46875 C 28.953125 22.371094 28.984375 22.265625 29 22.15625 C 29.003906 22.105469 29.003906 22.050781 29 22 L 29 6 C 29 4.882813 29.882813 4 31 4 C 32.117188 4 33 4.882813 33 6 L 33 22 C 33.003906 22.0625 33.015625 22.125 33.03125 22.1875 C 33.046875 22.285156 33.078125 22.378906 33.125 22.46875 C 33.164063 22.558594 33.21875 22.644531 33.28125 22.71875 C 33.328125 22.765625 33.382813 22.808594 33.4375 22.84375 C 33.46875 22.867188 33.5 22.886719 33.53125 22.90625 C 33.621094 22.953125 33.714844 22.984375 33.8125 23 C 33.945313 23.027344 34.085938 23.027344 34.21875 23 C 34.320313 22.972656 34.414063 22.929688 34.5 22.875 C 34.519531 22.867188 34.542969 22.855469 34.5625 22.84375 C 34.621094 22.796875 34.671875 22.746094 34.71875 22.6875 C 34.792969 22.625 34.855469 22.550781 34.90625 22.46875 C 34.953125 22.371094 34.984375 22.265625 35 22.15625 C 35.003906 22.105469 35.003906 22.050781 35 22 L 35 13 C 35 11.882813 35.882813 11 37 11 C 38.117188 11 39 11.882813 39 13 L 39 41 C 39 44.878906 35.878906 48 32 48 L 23.90625 48 C 21.742188 48 19.699219 46.992188 18.375 45.28125 L 6.8125 30.375 C 6.785156 30.339844 6.753906 30.308594 6.71875 30.28125 C 5.734375 29.296875 5.734375 27.703125 6.71875 26.71875 C 7.703125 25.734375 9.296875 25.734375 10.28125 26.71875 L 15.25 32.65625 C 15.523438 32.96875 15.960938 33.078125 16.351563 32.929688 C 16.738281 32.785156 16.996094 32.414063 17 32 L 17 7.9375 C 17 7.253906 17.25 6.820313 17.625 6.5 C 18 6.179688 18.539063 6 19 6 C 19.460938 6 20 6.175781 20.375 6.5 C 20.75 6.824219 21 7.265625 21 8 L 21 22 C 20.992188 22.308594 21.128906 22.601563 21.367188 22.796875 C 21.601563 22.992188 21.917969 23.066406 22.21875 23 C 22.320313 22.972656 22.414063 22.929688 22.5 22.875 C 22.519531 22.867188 22.542969 22.855469 22.5625 22.84375 C 22.621094 22.796875 22.671875 22.746094 22.71875 22.6875 C 22.898438 22.503906 22.996094 22.257813 23 22 L 23 4 C 23 2.882813 23.882813 2 25 2 Z M 24.875 29 C 22.1875 29 20 31.1875 20 33.875 C 20 35.242188 20.558594 36.488281 21.46875 37.375 L 28 43.90625 L 34.53125 37.375 C 35.441406 36.488281 36 35.242188 36 33.875 C 36 31.1875 33.8125 29 31.125 29 C 29.90625 29 28.855469 29.539063 28 30.28125 C 27.144531 29.539063 26.09375 29 24.875 29 Z M 24.875 31 C 25.828125 31 26.65625 31.472656 27.1875 32.1875 L 28 33.25 L 28.8125 32.1875 C 29.34375 31.472656 30.171875 31 31.125 31 C 32.734375 31 34 32.265625 34 33.875 C 34 34.691406 33.667969 35.441406 33.125 35.96875 L 28 41.0625 L 22.875 35.96875 C 22.332031 35.441406 22 34.691406 22 33.875 C 22 32.265625 23.265625 31 24.875 31 Z" stroke-linecap="round" />
              </g>
              </svg>
              </div>
              </div>
      <h3 class="boxes py-4 text-2xl font-semibold  sm:text-xl">
600+ Volunteer Spaces!     </h3>
      <p class="boxes py-4 ">
        Volunteer at a participating City Space across any of the five boroughs.    </p>
  </div>
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 sm:mt-16 md:mt-20 lg:mt-24 dark:bg-purple-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-purple-500 rounded-md">
            <svg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>


              <g transform="matrix(1.17 0 0 1.17 16 16)" >
              <path style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;" transform=" translate(-15, -14.99)" d="M 6.9804688 3.9882812 C 6.65085290564838 3.9973655524280827 6.346897780071417 4.168340329270055 6.167968799999999 4.445312500000001 L 4.84375 6.4296875 L 4.7070312 6.2929688 C 4.4562132929611815 6.031733884316793 4.083765718511206 5.926503574718498 3.7333272922746605 6.017861185677841 C 3.382888866038115 6.109218796637183 3.1092187966371823 6.382888866038116 3.0178611856778406 6.733327292274661 C 2.926503574718499 7.0837657185112075 3.031733884316794 7.456213292961182 3.2929688000000006 7.707031200000001 L 4.2929688 8.7070312 C 4.504819831260849 8.918811614275874 4.800445741578452 9.024479011055343 5.098541604721344 8.994972067902237 C 5.3966374678642355 8.965465124749132 5.665810568100346 8.803891241641304 5.8320312 8.5546875 L 7.8320312 5.5546875 C 8.045289407675781 5.244573676155454 8.066387670314878 4.840991371011013 7.886627489443264 4.510331539381017 C 7.706867308571651 4.179671707751021 7.356690140534591 3.9779298809088077 6.9804688 3.9882812 z M 12 6 C 11.63936408342243 5.994899710454515 11.303918635428394 6.184375296169332 11.122112278513482 6.495872849714331 C 10.940305921598572 6.80737040325933 10.940305921598572 7.192629596740671 11.122112278513484 7.504127150285671 C 11.303918635428394 7.815624703830669 11.639364083422432 8.005100289545485 12 8 L 26 8 C 26.360635916577568 8.005100289545485 26.696081364571608 7.815624703830668 26.877887721486516 7.50412715028567 C 27.059694078401428 7.19262959674067 27.059694078401428 6.80737040325933 26.877887721486516 6.49587284971433 C 26.696081364571608 6.184375296169332 26.360635916577568 5.994899710454515 26 6 L 12 6 z M 6.9804688 11.988281 C 6.65085296263371 11.997365285750602 6.346897848869547 12.168339943718292 6.167968799999999 12.445312 L 4.84375 14.429688 L 4.7070312 14.292969 C 4.456213996960413 14.031731108787557 4.083765014831265 13.926498480827085 3.733324758830065 14.017855648687846 C 3.3828845028288645 14.109212816548606 3.109212991113946 14.382884250849257 3.017855724123107 14.733324481007967 C 2.9264984571322685 15.08376471116668 3.031730979736979 15.456213723063279 3.2929687999999997 15.707031 L 4.2929688 16.707031 C 4.504819733922377 16.91881148472044 4.80044557909182 17.024478999316077 5.098541436580843 16.994972192303283 C 5.396637294069866 16.965465385290486 5.66581045287311 16.803891641901124 5.8320312 16.554688 L 7.8320312 13.554688 C 8.0452898145224 13.244574159636324 8.066388305148966 12.8409915704816 7.886628069675444 12.510331490647905 C 7.706867834201922 12.17967141081421 7.356690379503956 11.977929489546458 6.9804688 11.988281 z M 12 14 C 11.63936408342243 13.994899710454515 11.303918635428394 14.184375296169332 11.122112278513482 14.495872849714331 C 10.940305921598572 14.80737040325933 10.940305921598572 15.192629596740671 11.122112278513484 15.50412715028567 C 11.303918635428394 15.815624703830668 11.639364083422432 16.005100289545485 12 16 L 26 16 C 26.360635916577568 16.005100289545485 26.696081364571608 15.815624703830668 26.877887721486516 15.504127150285669 C 27.059694078401428 15.19262959674067 27.059694078401428 14.807370403259329 26.877887721486516 14.495872849714331 C 26.696081364571608 14.184375296169332 26.360635916577568 13.994899710454515 26 14 L 12 14 z M 6 20 C 4.3549904 20 3 21.35499 3 23 C 3 24.64501 4.3549904 26 6 26 C 7.6450096 26 9 24.64501 9 23 C 9 21.35499 7.6450096 20 6 20 z M 6 22 C 6.5641294 22 7 22.435871 7 23 C 7 23.564129 6.5641294 24 6 24 C 5.4358706 24 5 23.564129 5 23 C 5 22.435871 5.4358706 22 6 22 z M 12 22 C 11.63936408342243 21.994899710454515 11.303918635428394 22.184375296169332 11.122112278513482 22.49587284971433 C 10.940305921598572 22.80737040325933 10.940305921598572 23.192629596740673 11.122112278513484 23.50412715028567 C 11.303918635428394 23.815624703830668 11.639364083422432 24.005100289545485 12 24 L 26 24 C 26.360635916577568 24.005100289545485 26.696081364571608 23.815624703830668 26.877887721486516 23.50412715028567 C 27.059694078401428 23.19262959674067 27.059694078401428 22.80737040325933 26.877887721486516 22.49587284971433 C 26.696081364571608 22.184375296169332 26.360635916577568 21.994899710454515 26 22 L 12 22 z" stroke-linecap="round" />
              </g>
              </svg>
          </div>
      </div>
      <h3 class="boxes py-4 text-2xl font-semibold  sm:text-xl">
        Organize Your Events
      </h3>
      <p class="boxes py-4 ">
        Save opportunities by event, category, organization or location.      </p>
  </div>
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 dark:bg-gray-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-purple-500 rounded-md">
            <svg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><rect width='32' height='32' stroke='none' fill='#000000' opacity='0'/>


              <g transform="matrix(1.17 0 0 1.17 16 16)" >
              <g style="" >
              <g transform="matrix(1 0 0 1 -2 1)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-10, -13)" d="M 19.5 10 L 19.5 21.5 C 19.5 22.604569499661586 18.604569499661586 23.5 17.5 23.5 L 2.5 23.5 C 1.395430500338413 23.5 0.5 22.604569499661586 0.5 21.5 L 0.5 4.5 C 0.5 3.395430500338413 1.395430500338413 2.5 2.5 2.5 L 13.431 2.5" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 3.37 -3.37)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-15.37, -8.63)" d="M 12.54 13.581 L 9.004 14.996 L 10.419 11.46 L 19.611 2.268 L 21.732 4.389 L 12.54 13.581 z" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 9.43 -9.43)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-21.43, -2.57)" d="M 21.732 4.389 L 19.611 2.268 L 20.672 1.2069999999999999 C 21.048611705392293 0.8170651233203245 21.60631683821329 0.6606811042024535 22.13076098583995 0.7979542651255813 C 22.655205133466612 0.9352274260487091 23.06477257395129 1.3447948665333884 23.202045734874417 1.869239014160051 C 23.339318895797547 2.3936831617867136 23.182934876679674 2.951388294607709 22.793 3.328 Z" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 -0.52 0.52)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-11.48, -12.52)" d="M 10.419 11.46 L 12.54 13.581" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 4.56 -8.91)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-16.56, -3.09)" d="M 19.611 2.268 C 18.81593131164078 1.4731183907464445 17.527068688359222 1.4731183907464447 16.732 2.2679999999999993 L 14.5 4.5 L 13.5 4.5" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 11.15 -11.15)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-23.15, -0.85)" d="M 22.793 1.207 L 23.5 0.5" stroke-linecap="round" />
              </g>
              <g transform="matrix(1 0 0 1 -3.5 3.5)" >
              <path style="stroke: rgb(0,0,0); stroke-width: 1; stroke-dasharray: none; stroke-linecap: round; stroke-dashoffset: 0; stroke-linejoin: round; stroke-miterlimit: 4; fill: none; fill-rule: nonzero; opacity: 1;" transform=" translate(-8.5, -15.5)" d="M 9.004 14.996 L 8 16" stroke-linecap="round" />
              </g>
              </g>
              </g>
              </svg>
          </div>
      </div>
      <h3 class="boxes py-4 text-2xl font-semibold  sm:text-xl ">
          Share Your Experience with Others!
      </h3>
      <p class="boxes py-4 ">
Upload a photo describing your experience and let others join in on the conversation!  </div>
</div>


</body>
</html>
<%- include('partials/footer') -%>