
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>City Spaces NYC</title>
    <html>
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=devide-width, initial-scale=1.0" />
        <link
          href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
          rel="stylesheet"
          type="text/css"
        />
        <script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.40.1/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h2 class="text-5xl font-bold">City Spaces NYC</h2>

    <div class="hero min-h-screen bg-primary-content">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
        </div>

         <div class="gif" id="g1">
          <h2 class="text-center"><em> Give yourself a sense of purpose, volunteer at a City Space today!</em></h2>
        </div>
        <div class="gif" id="g2">
          <h2 class="text-center"><em>Save volunteer opportunities organized by event, category of event type, organization or location.</em></h2>
        </div>
        <div class="gif" id="g3">
          <h2 class="text-center"><em>Share your volunteer experience with the world!</em></h2>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <div class="card-body">
            <div class="form-control">
 
              <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
                <div class="alert alert-danger"><%= el.msg %></div>
                <% }) %> <% } %> <% if (locals.messages.info) { %> <%
                messages.info.forEach( el => { %>
                <div class="alert alert-info"><%= el.msg %></div>
                <% }) %> <% } %>
                <form action="/login" method="POST">
                  <h2 class="text-3xl font-bold">Log In</h2>
                  <div class="mb-3">
                    <span class="label-text">Email Address:</span>

                    <input
                      type="email"
                      class="form-control"
                      id="exampleInputEmail1"
                      aria-describedby="emailHelp"
                      name="email"
                    />
                  </div>
            </div>

            <div class="form-control">
              <label class="label">
                <span class="label-text">Password:</span>
              </label>
              <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              name="password"
            />
              <label class="label">
              </label>
            </div>
           
              <button type="submit" class="btn btn-success">Log In!</button>
              <p class="demo">Demo<br> demouser@demo.com</br> demouser</p>

          </div>
          <p class="demo"><a href="/signup">Register An Account</a></p>

        </div>
      </div>
    </div>

<div class="flex-wrap items-center justify-center gap-8 text-center sm:flex">
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 dark:bg-gray-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-indigo-500 rounded-md">
              <svg width="20" height="20" fill="currentColor" class="w-6 h-6" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z">
                  </path>
              </svg>
          </div>
      </div>
      <h3 class="py-4 text-2xl font-semibold text-gray-700 sm:text-xl dark:text-black">
600+ Volunteer Spaces!     </h3>
      <p class="boxes py-4 ">
        Volunteer at a participating City Space across any of the five boroughs.    </p>
  </div>
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 sm:mt-16 md:mt-20 lg:mt-24 dark:bg-gray-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-indigo-500 rounded-md">
              <svg width="20" height="20" fill="currentColor" class="w-6 h-6" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z">
                  </path>
              </svg>
          </div>
      </div>
      <h3 class="py-4 text-2xl font-semibold text-gray-700 sm:text-xl dark:text-black">
        Organize Your Events
      </h3>
      <p class="boxes py-4 ">
        Save opportunities by event, category, organization or location.      </p>
  </div>
  <div class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 dark:bg-gray-800">
      <div class="flex-shrink-0">
          <div class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-indigo-500 rounded-md">
              <svg width="20" height="20" fill="currentColor" class="w-6 h-6" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                  <path d="M491 1536l91-91-235-235-91 91v107h128v128h107zm523-928q0-22-22-22-10 0-17 7l-542 542q-7 7-7 17 0 22 22 22 10 0 17-7l542-542q7-7 7-17zm-54-192l416 416-832 832h-416v-416zm683 96q0 53-37 90l-166 166-416-416 166-165q36-38 90-38 53 0 91 38l235 234q37 39 37 91z">
                  </path>
              </svg>
          </div>
      </div>
      <h3 class="boxes py-4 text-2xl font-semibold  sm:text-xl ">
          Share Your Experience with Others!
      </h3>
      <p class="boxes py-4 ">
Upload a photo describing your experience and let others join in on the conversation!  </div>
</div>


</body>
</html>
<%- include('partials/footer') -%>