@tailwind base;
@tailwind components;
@tailwind utilities;

.menu{
    font-family: 'Bodoni Moda', serif;
}

header{
    margin-bottom: 5%;
    font-family: 'Bodoni Moda', serif;
    color: brown;

}


footer, .flex-none{
    font-family: 'Bodoni Moda', serif;

}



.index{
    width: 40%;
    float: left;
}

h1{
    font-size: 20%;
}

.login{
    
}